body {
  background-color: rgb(75, 75, 155);
}
.App {
  font-family: sans-serif;
  /* text-align: center; */
  width: 60%;
  margin: auto;
  color: #ffffff;
}
.non-bullet {
  list-style-type: none;
  margin: 3rem;
}

.link {
  display: inline;
  background-color: rgb(17, 17, 53);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
  text-align: start;
}
hr {
  margin: 3rem 0rem;
}
